@import 'partials/variables';
@import 'partials/elements';
@import 'partials/base';
@import 'partials/media';
@import 'partials/useless';
@import 'partials/projects';
@import 'partials/contact';
@import 'partials/about';
@import 'partials/register';
@import 'partials/admin';