{% extends "base.html" %}

{% block content %}
    <div class="personal-info">
        <div class="profile-container">
            <img src="http://placeimg.com/200/200/animals" alt="Yours truly">
        </div>
        <h3>About</h3>
    </div>
    <div class="about centered-box">
        <p>I have had a fascination with taking apart objects and learning how they work for as long as I can remember.</p>
    <p>It started with toys and quickly moved to every appliance i could get my hands on. Needless to say,
         i have been diagnosed with <a href="https://www.youtube.com/watch?v=g8vHhgh6oM0">the knack.</a>
         It didn't take long for me to discover that electronics are no exception.
        </p>
    <p></p>
    </div>
{% endblock %}