{% extends "base.html" %}

{% block content %}

{% if rank == 2 %}
<h1 class="useless">Super Secret Admin Dashboard</h1>
<p>Technically the skeleton has been built. Now here's what is left, in no particular order:</p>
<ol>
    <li>Turn the main page into a blog? hmm</li> 
    <li>additional admin functionality in other pages (such as?)</li>
    <li><i>add a contact form with a captcha</i></li>
    <li>move pretty much everything into a database to demonstrate my knowledge with it</li>
    <li>Add user list on this page, with a promote/demote button on those with rank = 3</li>
</ol>
<p>I have added a working admin registration form for demonstration</p>
<p>I think the github list of repos will do the trick as an API demo. what else should i show on projects?</p>
{% else %}
<div class="flexbox">
    <form id="login-form" action='/admin.php' method='post'>
        <h1>Please log in</h1>
        {% if rank == "wrong" %}
        <div class="failed">
            <h4> Wrong Credentials </h4>
        </div>
    {% endif %}
    <label for='username'>Username</label>
    <input type='text' id='username' name='username'>
    <label for='password'>Password</label>
    <input type='password' id='password' name='password'>

        <input class="button" type='submit' value='Log In!'>
        <a href='/register.php'>Register</a>
    </form>
</div>
{% endif %}

{% endblock %}