{% extends "base.html" %}

{% block content %}

{% if rank >= 2 %}
<div class="user-list">
    {% if altered == 'success' %}
        <div class="success">
            <h4>Rank Changed Successfuly</h4>
        </div>
        {% elseif altered == 'failed' %}
        <div class="failed">
            <h4>Something went wrong</h4>
        </div>
    {% endif %}
    
    <h1>User List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>username</th>
                <th>Rank</th>
                <th>Promote/Demote</th>
            </tr>
        </thead>
        <tbody>

        {% for num in userList %}
            <tr>
                <td>{{ num.id }}</td>
                <td>{{ num.username }}</td>
                <td>{{ num.rank }}</td>
                {% if rank == 3 %}
                <form action='/admin.php' method='post'>
                    {% if num.rank == 1 %}
                    <input type="hidden" name="promote" value="{{ num.id }}">
                    <td class="centered"><input type="submit" class="adminbutton" value="Promote"></td>
                    {% elseif num.rank ==2 %}
                    <input type="hidden" name="demote" value="{{ num.id }}">
                    <td class="centered"><input type="submit" class="adminbutton" value="Demote"></td>
                    {% endif %}
                </form>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% elseif rank == 1 %}
<p>You have successfully created your account, but You are not an admin, and cannot see this content.</p>
{% else %}
<div class="flexbox">
    <form id="login-form" action='/admin.php' method='post'>
        <h1>Please log in</h1>
        {% if rank == "wrong" %}
        <div class="failed">
            <h4> Wrong Credentials </h4>
        </div>
    {% endif %}
    <label for='username'>Username</label>
    <input type='text' id='username' name='username'>
    <label for='password'>Password</label>
    <input type='password' id='password' name='password'>

        <input class="button" type='submit' value='Log In!'>
        <a href='/register.php'>Register</a>
    </form>
</div>
{% endif %}

{% endblock %}