<div class="article-container">
    <h3><a href="article.php?id={{ num.id }}">{{ num.title }}</a></h3>
    <p class="date">Posted on <strong>{{ num.date_posted }}</strong>.</p>
    {% if num.last_updated > 0 %}
        <p>Last Updated on <strong>{{ num.last_updated }}</strong>.</p>
    {% endif %}

    <p>{{ num.content|length > 144 ? num.content|striptags|slice(0, 144) ~ '...' : num.content|striptags}}</p>

    <a href="article.php?id={{ num.id }}">Read More</a>
    {% if rank >= 2 %}
    <a href="article.php?id={{ num.id }}&edit">Edit</a>
    {% endif %}
    {% if rank == 3 %}
    <a href="article.php?id={{ num.id }}&delete" onclick="return confirm('Are you sure you want to delete this article?');">Delete</a>
    {% endif %}
</div>