{% extends "base.html" %}

{% block content %}

            <div class="flexbox">
                <div class="personal-info">
                    <div class="profile-container">
                        <img src="http://placeimg.com/1000/1000/animals" alt="Yours truly">
                    </div>
                    <h1>Petros Papadopoulos</h1>
                    <h3>Junior Developer</h3>
                </div>
                <div class="flex-p">
                    <h1>Generated</h1>
                    <h3>What other functionality should i add?</h3>
                        <ul>
                            <li>templating->list of github projects</li>
                            <li>Contact page</li>
                            <li><a href="contact.php">Suggest Something</a></li>
                        </ul>
                </div>
                <div class="blog-container">
                    <h3>Latest Blog Entries</h3>
                    {% for num in articleList|slice(articlePages.currentPage * articlePages.postsPerPage - articlePages.postsPerPage, articlePages.postsPerPage) %}    
                        {{ include('articleList.html') }}
                    {% endfor %}
                </div>
    {% endblock %}