{% extends "base.html" %}

{% block content %}

            <div class="flexbox">
                <div class="personal-info">
                    <div class="profile-container">
                        <img src="http://placeimg.com/200/200/animals" alt="Yours truly">
                    </div>
                    <h1>Petros Papadopoulos</h1>
                    <h3>Junior Developer</h3>
                </div>
                <div class="flex-p">
                    <h1>Generated</h1>
                    <h3>What other functionality should i add?</h3>
                        <ul>
                            <li>templating->list of github projects</li>
                            <li>Contact page</li>
                            <li><a href="contact.php">Suggest Something</a></li>
                        </ul>
                    <div class="image-container">
                        <img src="http://placeimg.com/640/480/nature" alt="placeholder image">
                    </div>
                </div>
                <div class="flex-p">
                    <h1>Five Paragraphs</h1>
                    <p>Nulla sollicitudin ornare ipsum ut eleifend. Sed nisi erat, placerat ac massa sed, eleifend dignissim libero. In sed felis pharetra, ultrices nulla id, faucibus velit. Donec in vulputate enim, vitae iaculis purus. Pellentesque tempor eget nisi nec varius. Vestibulum facilisis ante vitae neque aliquet iaculis. Morbi ac mi non ipsum bibendum tincidunt.</p>
                    <div class="image-container">
                        <img src="http://placeimg.com/640/480/animals" alt="placeholder image">
                    </div>
                    </div>
                <div class="flex-p">
                    <h1>448 Words</h1>
                    <p>Donec pellentesque rhoncus nisl in posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec scelerisque sapien id magna malesuada lobortis. Cras id dolor quis turpis interdum lacinia ut nec nunc. Nam porttitor malesuada nibh, sit amet condimentum ex tincidunt at. Curabitur placerat in quam eget congue. Duis turpis lacus, facilisis vel consequat in, dapibus congue lacus.</p>
                    <div class="image-container">
                        <img src="http://placeimg.com/640/480/animals" alt="placeholder image">
                    </div>
                </div>
                <div class="flex-p">
                    <h1>3060 Bytes</h1>
                    <p>Duis dictum dui ut libero imperdiet eleifend ut sit amet dolor. Duis sapien mi, varius sed eros eget, suscipit dignissim dolor. Quisque vestibulum orci consectetur libero finibus, varius dignissim ante vehicula. Vestibulum in tristique nisi, eget imperdiet nibh. Praesent gravida, arcu id dapibus finibus, nibh metus condimentum orci, vel aliquam nulla lacus a lectus. Nam nec auctor orci. Donec eros diam, fermentum et pulvinar vel, sollicitudin at nunc. Mauris sodales porttitor lacus et placerat. Sed lacus urna, posuere eu lorem eget, viverra pharetra augue. Integer facilisis nunc rutrum, pellentesque libero id, ornare nulla. Mauris tincidunt aliquet ligula vitae feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus quis sagittis ex, sed dapibus neque. Duis convallis aliquam feugiat.</p>
                    <div class="image-container">
                        <img src="http://placeimg.com/640/480/animals" alt="placeholder image">
                    </div>
                </div>
                <div class="flex-p">
                    <h1>Of Lorem Ipsum</h1>
                    <p>Pellentesque tincidunt, sapien et tincidunt convallis, turpis mauris rutrum velit, eu volutpat dui dolor in leo. Praesent eu lorem vel urna egestas iaculis. Nulla facilisi. Morbi consectetur libero sed nisi luctus suscipit. In ut vestibulum metus, id dapibus lacus. Maecenas id imperdiet elit. Donec quis cursus nisl. In aliquam tellus lobortis laoreet aliquet. Nam mollis velit eros, nec pellentesque leo rhoncus nec. Maecenas sed dui enim. Pellentesque rhoncus euismod libero. Vestibulum blandit nulla id pharetra convallis. Ut aliquet a elit eget malesuada. Suspendisse potenti.</p>
                    <div class="image-container">
                        <img src="http://placeimg.com/640/480/animals" alt="placeholder image">
                    </div>
                </div>
            </div>

    {% endblock %}