{% extends "base.html" %}

{% block content %}

            <div class="index-container centered-box">
                <div class="personal-info">
                    <div class="profile-container">
                        <img src="http://placeimg.com/1000/1000/animals" alt="Yours truly">
                    </div>
                    <h1>Petros Papadopoulos</h1>
                    <h3>Junior Developer</h3>
                </div>
                <div class="flex-p">
                    <h1>My portfolio page</h1>
                    <a href="contact.php">What other functionality should i add?</a>
                </div>
                <div class="blog-container centered-box">
                    <h3>Latest Blog Entries</h3>
                        {{ include('articleList.html') }}
                        <a href="/blog.php"><h3>View More Entries</h3></a>
                </div>
            </div>
    {% endblock %}