{% extends "base.html" %}

{% block content %}
<div class="github-page">
    
    <a href="{{ projects.0.owner.html_url }}">
        <div class="github-profile">        
            <img src="{{ projects.0.owner.avatar_url }}" alt="Github profile picture">
            <a href="{{ projects.0.owner.html_url }}">My Github Profile</a>
        </div>
    </a>
    <a href="{{ projects.0.owner.repos_url }}" class="projects-title"><h4>My Projects on Github:</h4></a>
    {% for number in projects %}
    <a href="{{ number.html_url }}">
        <div class="github-project">
        <h5>{{ number.name }}</h5>
        <p> {{ number.description }} </p>
        </div>
    </a>
{% endfor %}
</div>


{% endblock %}