// Head ------------------------------------ /
* {
    text-decoration: none;
    font-family: sans-serif;
}

H1,
H2,
H3,
H4 {
    font-family: 'Roboto', sans-serif;
}

.header {
    h3 {
        margin: 0;
        padding-left: 5px;
    }
    h3,
    span {
        align-self: center;
    }
    span {
        margin-right: 10px;
        margin-left: auto;
        transform: scale(1.3);
        padding: 8px 10px;
        &:hover {
            cursor: pointer;
        }
    }
}
.flex-h {
    display: flex;
    height: 55px;
}

.mobile-nav {
    background-color: #333;
    box-shadow: 0px 0px 9px #333;
    transform: translateX(-105vw);
    transition: transform .5s, ease;
    position: fixed;
    padding-top: 56px;
    width: 100%;
    height: 100%;
    flex-flow: column;
    * {
        color: #242424;
    }
    ul {
        list-style: none;
        margin-top: -7px;
    }
    .mobile-admin {
        padding-left: 41px;
        margin-top: auto;
        padding-bottom: 50px;
    }
}

.admin {
    display: none;
}

// Body -------------------------------- /

.wrapper {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    .flexbox {
        display: flex;
        padding-top: 20px;
        flex-flow: row wrap;
        .personal-info {
            align-items: center;
            margin: auto;
            height: 90vh;
            min-height: 400px;
            justify-content: center;
            width: 100%;
            img {
                border-radius: 50%;
                width: 100%;
                max-width: 480px;
            }
            h1 {
                margin-top: 0.5rem;
                margin-bottom: -0.5rem;
            }
        }
        .personal-info,
        .flex-p {
            display: flex;
            flex-flow: column;
        }
        .flex-p {
            margin: 0 3%;
            max-width: 361px;
        }
    }
}

.image-container {
    display: flex;
    img {
        width: 90%;
        margin: auto;
    }
}

.flex-container {
    display: flex
}

#submit {
    padding: 3px 20px;
    box-sizing: border-box;
}