// mobile overlay / 

.menu-overlay {
    position: fixed; /* Sit on top of the page content */
    // display: none; /* Hidden by default */
    display: none;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0); /* Black background with opacity */
    transition: background-color 0.5s ease;
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
  }

// Head ------------------------------------ /
* {
    text-decoration: none;
    font-family: sans-serif;
}

H1,
H2,
H3,
H4 {
    font-family: 'Roboto', sans-serif;
}

.header {
    h3 {
        margin: 0;
        padding-left: 5px;
    }
    h3,
    span {
        align-self: center;
    }
    span {
        margin-right: 10px;
        margin-left: auto;
        transform: scale(1.3);
        padding: 8px 10px;
        &:hover {
            cursor: pointer;
        }
    }
}
.flex-h {
    display: flex;
    height: 55px;
}

.mobile-nav {
    display: flex;
    background-color: $backgroundColorDark;
    // box-shadow: 0px 0px 9px $backgroundColorDark;
    transform: translateX(-105vw);
    transition: transform .5s, ease;
    position: fixed;
    z-index: 1;
    padding-top: 56px;
    width: 100%;
    height: 100%;
    flex-flow: column;
    ul {
        list-style: none;
        margin-top: -7px;
        // margin-left: 34px;
    }
    .mobile-admin {
        padding-left: 41px;
        margin-top: auto;
        padding-bottom: 50px;
    }
    a {
        margin-left: 35px;
    }
}

.admin {
    display: none;
}

// Body -------------------------------- /

.wrapper {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    .flexbox {
        display: flex;
        padding-top: 20px;
        flex-flow: column;
        .personal-info {
            align-items: center;
            margin: auto;
            // height: 90vh;
            min-height: 400px;
            justify-content: center;
            width: 100%;
            max-width: 320px;
            img {
                border-radius: 50%;
                width: 100%;
                max-width: 480px;
            }
            h1 {
                margin-top: 0.5rem;
                margin-bottom: -0.5rem;
            }
        }
        .personal-info,
        .flex-p {
            display: flex;
            flex-flow: column;
        }
        .flex-p {
            margin: auto;
            padding-bottom: 80px;
        }
    }
}

.image-container {
    display: flex;
    img {
        width: 90%;
        margin: auto;
    }
}

#submit {
    padding: 3px 20px;
    box-sizing: border-box;
}

.success,
.failed {
    animation: 10s turnInvisible;
    animation-fill-mode: forwards;

}

.centered-box {
    margin-left: auto;
    margin-right: auto;
}

.grecaptcha-badge { 
    bottom:65px !important; 
}

.blog-container {
    max-width: 600px;
}

.admin-links {
    a {
        padding: 1rem 5px;
        &:hover {
            background-color: #444;
        }
    }
}

.wrapper {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    .index-container {
        display: flex;
        padding-top: 20px;
        flex-flow: column;
        .personal-info {
            align-items: center;
            margin: auto;
            // height: 90vh;
            min-height: 400px;
            justify-content: center;
            width: 100%;
            max-width: 320px;
            img {
                border-radius: 50%;
                width: 100%;
                max-width: 480px;
            }
            h1 {
                margin-top: 0.5rem;
                margin-bottom: -0.5rem;
            }
        }
        .personal-info,
        .flex-p {
            display: flex;
            flex-flow: column;
        }
        .flex-p {
            margin: auto;
            padding-bottom: 80px;
        }
    }
}

.cookies-container {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.699);
    border-top: solid 2px $selected;
    .cookies-notice {
        width: fit-content;
        margin: 1rem auto;
    }
    p {
        display: inline;
        color: #ddd;
    }
    button {
        display: inline-block;
        padding: 2px 0;
        margin: 0 2rem;
        width: 75px;
    }
}