// Head ------------------------------------ /
* {
    text-decoration: none;
    font-family: sans-serif;
}

H1,
H2,
H3,
H4 {
    font-family: 'Roboto', sans-serif;
}

// Body -------------------------------- /

.container {
    width: 95%;
    // max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    .flexbox {
        display: flex;
        padding-top: 20px;
        flex-flow: row wrap;
        .personal-info {
            align-items: center;
            margin: auto;
            img {
                border-radius: 50%;
            }
            h1 {
                margin-top: 0.5rem;
                margin-bottom: -0.5rem;
            }
        }
        .personal-info,
        .flex-p {
            max-width: 361px;
            display: flex;
            flex-flow: column;
        }
        .flex-p {
            margin: 0 3%;
        }
    }
}

.image-container {
    display: flex;
    img {
        width: 90%;
        margin: auto;
    }
}
