.flex-container {
    display: flex;
    flex-flow: wrap;
}

.contact,
.contact-form {
    margin-left: auto;
    margin-right: auto;
}

.success h4 {
    border: solid 5px $success;
    border-radius: 3%;
    background: $success;
}

.failed h4 {
    text-align: center;
    border: solid 5px $failed;
    border-radius: 3%;
    background: $failed;
}