.flex-container {
    display: flex;
    flex-flow: wrap;
}

.contact,
.contact-form {
    margin-left: auto;
    margin-right: auto;
    // width: 199px;
    width: 85%;
}

.other a {
        padding: 5px 0;
}

.success h4 {
    border: solid 5px $success;
    border-radius: 3%;
    background: $success;
}

.failed h4 {
    text-align: center;
    border: solid 5px $failed;
    border-radius: 3%;
    background: $failed;
}

.contact {
    line-height: .5;
    a {
        display: block;
        line-height: 2;
    }
}