// Element settings -------------------------- /


h1,
p {
    color: rgb(39, 39, 39);
}

h1 {
    font-size: 1.8rem;
    text-align: center;
}

nav {
    padding: 1px;
    display:flex;
    justify-content: space-evenly;
    ul {
        list-style: none;
        max-width: 550px;
        margin: 0;
        padding: 0;
    }
    li {
        margin-left: auto;
        display: inline-block;
        padding: 0 2px;
        font-size: .79rem;
        &:hover {
            background-color: #444;
        }
    }
}

nav,
footer {
    background-color: #292929;
}

body {
    background-color: #f0f0f0;
}

footer {
    margin-top: 5px;
    color: white;
    // padding: 8px 0px;
}

footer {
    p {
        color: rgb(12, 218, 132);
    }
}

.footer-container {
    display: flex;
    justify-content: space-between;
    a {
        margin: auto 0;
        font-size: .79em;
    }
}

header,
footer {
    a {
        color: #f0f0f0;
        padding: 1rem 0px;
        // &:hover { try this instead of li. see what works best
        //     background-color: #444;
        // }
        // { 
        // color: #aaa;
        // }
        &.selected {
            text-shadow: 2px 2px 1px black ;
            color: rgb(12, 218, 132);
        }
    }
}