// Element settings -------------------------- /

html {
    height: 100%;
}


h1,
p {
    color: $pColor;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
}

a {
    color: $linkColor;
    transition: color 0.1s;
    &:hover {
        color: $linkHover;
    }
}

nav {
    padding: 1px;
    display: none;
    justify-content: space-evenly;
    ul {
        list-style: none;
        max-width: 550px;
        margin: 0;
        padding: 0;
    }
    li {
        margin-left: auto;
        display: inline-block;
        padding: 0 2px;
        font-size: .79rem;
        &:hover {
            background-color: $liHover;
        }
    }
}

.header,
footer {
    background-color: $headerBG;
    min-height: 55px;
}

body {
    background-color: $unselected;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

footer {
    margin-top: 5px;
    color: white;
    margin-top: 20px;
    // probably the worst idea
    // grid-row-start: 2;
    // grid-row-end: 3;
}

.header,
footer {
    span,
    h3,
    p {
        color: $selected;
    }
}

.footer-container {
    display: flex;
    justify-content: space-between;
    a {
        margin: auto 0;
        font-size: .79em;
    }
}

header,
footer,
.mobile-nav {
    a {
        color: $unselected;
        padding: 1rem 0px;
        // &:hover { try this instead of li. see what works best
        //     background-color: #444;
        // }
        // { 
        // color: #aaa;
        // }
        &.selected {
            text-shadow: 2px 2px 1px black ;
            color: $selected;
        }
    }
}

header {
    position: fixed;
    z-index: 999;
    width: 100%;
}

table h4 {
    margin: 8px 0;
}
main {
    padding-top: 55px;
}