.github-page {
    h3 {
        font-weight: 500;
    }
}
.github-profile {
    display: flex;
    flex-flow: column nowrap;
    margin: 10px 0;
    padding: 5px;
    width: fit-content;
    img {
        width: 60%;
    }
    img,
    a {
        align-self: center;
        text-align: center;
    }
    a {
        padding: 0px 8px;
    }
    &:hover {
        a {
            color: $linkHover;
        }
    }
    h5 {
        text-align: center;
        line-height: 0;
    }
}

.github-profile,
.github-project {
    border: 1px solid $githubBorder;
    background-color: $githubBG;
    &:hover {
        background-color: $githubHover;
        
    }
    transition: background-color .2s ease;
}

.github-project {
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 0 8px;
    h5,
    p {
        line-height: 0;
    }
}

.projects-title {
    display: inline-block;
}