$backgroundColorDark: #333;
$success: lightgreen;
$failed: #FE757E;
$unselected: #f0f0f0;
$selected: rgb(12, 218, 132);
// $linkColor: rgb(14, 172, 106);
$linkColor: #0bb36b;
$linkHover: black;
$pColor: #242424;
$liHover: #444;
$headerBG: #151515;
$githubBorder: #d1d5da;
$githubBG: rgba(255, 255, 255, 0.521);
$githubHover: rgb(173, 225, 255);